body {
  background-color: antiquewhite;
  background-image: url("../foto/public.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Transparan hitam */
  color: #fff;
  padding: 15px 0;
  box-sizing: border-box;
}

.navbar .nav-buttons {
  float: right;
}

.navbar .button {
  color: #373737;
  background-color: #d3c157;
  padding: 10px 20px;
  margin-left: 5px;
  text-decoration: none;
}

.banner {
  position: relative;
}

.banner img {
  border-radius: 10px;
  width: 100%;
  height: 750px;
  display: block;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  /* Sesuaikan dengan ukuran logo Anda */
  width: auto;
  max-width: 100%;
  height: auto;
}

.about-section {
  padding: 50px 0; /* Padding untuk jarak atas dan bawah */
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Maksimum lebar konten */
  margin: 0 auto; /* Menengahkan konten */
}

.description {
  background-color: #fff2d7;
  margin-left: 8px;
  border-radius: 10px;
  overflow: hidden;
  padding: 12px;
  flex: 0 0 50%;
  max-width: 50%; /* Maksimum lebar deskripsi */
}

.description h2 {
  text-align: left;
  font-size: 24px; /* Ukuran font judul */
  color: #333; /* Warna teks judul */
}

.description p {
  text-align: left;
  margin-bottom: 20px; /* Jarak antara paragraf */
  line-height: 1.6; /* Spasi baris */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent; /* Warna latar belakang hitam */
  color: black;
  text-decoration: none;
  border: 2px solid black; /* Warna border hitam */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Efek transisi */
}

.btn:hover {
  background-color: black; /* Warna latar belakang putih saat hover */
  border-color: black; /* Warna border putih saat hover */
  color: white; /* Warna teks hitam saat hover */
}

.food-image {
  width: 45%; /* Lebar foto makanan */
  max-width: 750px; /* Maksimum lebar foto makanan */
}

.food-image img {
  border-radius: 10px;
  width: 100%; /* Lebar foto makanan */
  /* max-height: 250px; */ /* Hapus properti max-height */
  height: 200px; /* Atur tinggi gambar */
  display: block; /* Membuat gambar menjadi blok */
}

.container {
  text-align: center;
}

.menu-items {
  display: flex;
  flex-wrap: wrap; /* Memungkinkan item menu untuk melompat ke baris baru jika tidak cukup ruang */
  justify-content: center; /* Menengahkan item menu */
}

.menu-item {
  width: calc(33.33% - 20px); /* Lebar setiap item menu (3 kolom), dikurangi dengan margin */
  margin: 10px; /* Jarak antara item menu */
  padding: 20px; /* Padding dalam item menu */
  background-color: antiquewhite; /* Warna latar belakang item menu */
  border-radius: 10px; /* Border radius item menu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow item menu */
}

.menu-item img {
  height: 300px; /* Atur tinggi gambar */
  border-radius: 10px; /* Menambahkan radius sudut pada gambar */
  object-fit: cover; /* Memastikan gambar terisi sepenuhnya tanpa merubah aspek rasio */
}

.menu-item h3{
  text-decoration: none;
  color: #000000;
}

.menu-item p{
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .menu-item {
    width: calc(50% - 20px); /* Lebar setiap item menu (2 kolom) saat lebar layar kurang dari 768px */
  }
}

@media screen and (max-width: 480px) {
  .menu-item {
    width: calc(100% - 20px); /* Lebar penuh saat lebar layar kurang dari 480px */
  }
}

.footer {
  margin-top: 50px;
  background-color: #e4b257; /* Warna latar belakang footer */
  color: #222; /* Warna teks footer */
  padding: 75px 0; /* Padding atas dan bawah footer */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social img {
  height: 50px; /* Atur tinggi gambar */
  border-radius: 10px; /* Menambahkan radius sudut pada gambar */
  object-fit: cover; /* Memastikan gambar terisi sepenuhnya tanpa merubah aspek rasio */
}

.footer-logo img {
  height: 200px; /* Atur tinggi gambar */
  border-radius: 10px; /* Menambahkan radius sudut pada gambar */
  object-fit: cover; /* Memastikan gambar terisi sepenuhnya tanpa merubah aspek rasio */
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li,
.footer-social ul li {
  display: inline-block;
  margin-right: 20px; /* Jarak antara tautan */
}

.footer-bottom {
  text-align: center; /* Posisikan teks di tengah */
  margin-top: 20px; /* Jarak dari konten footer */
}

.box {
  width: 500px; /* Adjust width as needed */
  background-color: #FFFBDA; /* Light gray background */
  border: 1px solid #ccc; /* Gray border */
  padding: 80px; /* Inner padding */
  text-align: center; /* Center the text */
}

.button {
  display: block; /* Make buttons display on separate lines */
  margin-top: 10px; /* Add space between buttons */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded button corners */
  background-color: #FFBB70; /* Blue background */
  color: white; /* White text color */
  font-size: 14px; /* Button font size */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.button:hover {
  background-color: #FFBB70; /* Change background color on hover */
}

.order-section {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Occupy full viewport height */
}

.box {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form label,
form input,
form select {
text-align: left;
}

button {
background-color: #4caf50;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
text-align: center;
display: block; /* Change display to block */
margin: 0 auto; /* Set margin to auto */
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 1024px) {
  .navbar .nav-buttons {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
  
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .description {
    max-width: 80%;
    margin: 0 auto 20px;
  }
  
  .food-image {
    max-width: 80%;
  }
  
  .menu-item {
    width: calc(50% - 20px);
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 0;
  }
  
  .navbar .button {
    padding: 8px 15px;
    margin-left: 2px;
  }
  
  .banner img {
    height: auto;
  }
  
  .about-content {
    padding: 0 20px;
  }
  
  .description {
    max-width: 100%;
    margin: 0 0 20px;
  }
  
  .food-image {
    max-width: 100%;
  }
  
  .menu-item {
    width: calc(100% - 20px);
  }
  
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-links ul li,
  .footer-social ul li {
    display: block;
    margin: 10px 0;
  }
  
  .box {
    width: auto;
    padding: 20px;
  }
}