body {
    background-color: antiquewhite;
    background-image: url("../foto/public.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.menu-item {
    margin-bottom: 10px;
}

.meja-btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-align: left;
}

.meja-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.meja-btn:hover {
    background-color: #004a6d;
}
