body {
    background-image: url("../foto/public.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    position: relative;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparan hitam */
    color: #fff;
    padding: 15px 0;
    box-sizing: border-box;
  }
  
  .navbar .nav-buttons {
    float: right;
  }
  
  .navbar .button {
    color: #fff;
    background-color: #555;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .banner {
    position: relative;
  }
  
  .banner img {
    width: 100%;
    height: 750px;
    display: block;
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .logo img {
        /* Sesuaikan dengan ukuran logo Anda */
        width: auto;
        max-width: 100%;
        height: auto;
  }

  .about-section {
    padding: 50px 0; /* Padding untuk jarak atas dan bawah */
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Maksimum lebar konten */
    margin: 0 auto; /* Menengahkan konten */
  }
  
  .description {
    background-color: #fff;
    margin-left: 8px;
    border-radius: 10px;
    overflow: hidden;
    padding: 12px;
    flex: 0 0 50%;
    max-width: 50%; /* Maksimum lebar deskripsi */
  }
  
  .description h2 {
    font-size: 24px; /* Ukuran font judul */
    color: #333; /* Warna teks judul */
  }
  
  .description p {
    margin-bottom: 20px; /* Jarak antara paragraf */
    line-height: 1.6; /* Spasi baris */
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px; /* Padding tombol */
    background-color: #555; /* Warna latar tombol */
    color: #fff; /* Warna teks tombol */
    text-decoration: none; /* Hapus dekorasi teks */
    border-radius: 5px; /* Border radius tombol */
  }
  
  .food-image {
    width: 45%; /* Lebar foto makanan */
    max-width: 750px; /* Maksimum lebar foto makanan */
  }
  
  .food-image img {
    width: 100%; /* Lebar foto makanan */
    max-height: 250px; /* Maksimum tinggi foto makanan */
    display: block; /* Membuat gambar menjadi blok */
  }

  .container {
    text-align: center;
  }

  .menu-items {
    display: flex;
    flex-wrap: wrap; /* Memungkinkan item menu untuk melompat ke baris baru jika tidak cukup ruang */
    justify-content: center; /* Menengahkan item menu */
  }
  
  .menu-item {
    width: calc(33.33% - 20px); /* Lebar setiap item menu (3 kolom), dikurangi dengan margin */
    margin: 10px; /* Jarak antara item menu */
    padding: 20px; /* Padding dalam item menu */
    background-color: #fff; /* Warna latar belakang item menu */
    border-radius: 10px; /* Border radius item menu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow item menu */
  }
  
  @media screen and (max-width: 768px) {
    .menu-item {
      width: calc(50% - 20px); /* Lebar setiap item menu (2 kolom) saat lebar layar kurang dari 768px */
    }
  }
  
  